.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5rem 2rem;
}

.banner__titulo {
    font-weight: 700;
    font-size: 1rem;
}

.banner__texto {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 1rem 0 1.5rem;
}

.banner__pesquisa {
    width: 100%;
    padding: 1em;
    border-radius: 24px;
    text-align: center;
    border: 2px solid var(--branco) ;
    background-color: transparent;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 0.75rem;
    text-align: center;
    color: var(--branco);
    padding-left: 2rem;
    background-image: url("../img/Pesquisa.svg");
    background-repeat: no-repeat;
    background-position: -0.1rem;
}

@media screen and (min-width: 768px) {
    .banner__pesquisa {
        width: 50%;
    }

    .banner__texto {
        width: 72%;
        margin: 1.5rem auto;
    }
}

@media screen and (min-width: 1024px) {
    .banner {
        padding: 5.5rem;
    }

    .banner__titulo {
        font-size: 2rem;
    }

    .banner__texto {
        text-align: center;
        font-weight: 300;
        width: 65%;
    }

    .banner__pesquisa {
        width: 50%;
        border: 1px solid var(--branco);
        padding: 1rem;
    }

    .banner__pesquisa::placeholder {
        background-position: 3.5rem;
    }
}

@media screen and (min-width: 1728px) {
    .banner__texto {
        width: 80%;
    }

    .banner__pesquisa {
        width: 38%;
    }

    .banner__pesquisa::placeholder {
        background-position: 9rem;
    }
}