.carrossel__titulo {
    color: var(--laranja);
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--branco);
    text-align: center;
    padding: 1rem 0 0.5rem 0;
    text-transform: uppercase;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5rem 0 0.7rem 0;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.6rem;
    margin: 1rem;
    padding: 1rem;
}

.card__descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.descrição {
    width: 50%;
}

.descrição__titulo {
    color: var(--laranja);
    font-weight: 700;
    font-size: 0.8rem;
}

.descrição__titulo-livro {
    color: #002F52;
    font-size: 1rem;
    font-weight: 700;
    margin: 0.5em 0;
}

.descrição__texto {
    color: rgba(0, 0, 0, 0.85);
    font-size: 0.7rem;
    width: 80%;
    line-height: 1.5;
}

.descrição__imagem {
    width: 50%;
}

.card__botões {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.lista__botões {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.lista__botões--item {
    width: 25%;
}

.lista__botões--item img {
    width: 100%;
}

.botões__âncora {
    background-color: var(--laranja);
    padding: 0.8rem 1.8rem;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .swiper {
        width: 70%;
    }

    .card {
        width: 40%;
        margin: 1rem auto;
    }

    .botões__âncora {
        padding: 0.8rem 1.9rem;
    }
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 1.6rem;
        padding: 1.5rem 0 0.5rem;
    }

    .swiper-pagination {
        padding: 0.5rem 0 0.8rem;
    }

    .swiper {
        width: 60%;
    }

    .card {
        width: 50%;
        margin: 2rem auto;
    }

    .descrição__titulo-livro {
        margin: 1rem 0;
    }

    .descrição__texto {
        width: 100%;
        font-size: 1rem;
    }

    .descrição__imagem {
        width: 30%;
    }

    .botões__âncora {
        width: 18%;
        text-align: center;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__titulo {
        padding: 1.7rem 0 0.5rem;
    }

    .carrossel__desktop {
        display: flex;
    }

    .swiper-pagination {
        padding: 2.5rem 0 1rem;
    }

    .swiper-slide {
        margin: 0 2rem;
    }

    .swiper {
        width: 30%;
        padding-left: 2rem;
    }

    .card {
        width: 35%;
        height: 20%;
        margin: 5em 12em 4.5em 0;
    }

    .descrição {
        width: 60%;
    }

    .descrição__titulo {
        font-size: 1.5rem;
        width: 80%;
    }

    .descrição__titulo-livro {
        font-size: 1.1rem;
    }

    .descrição__texto {
        width: 100%;
        font-size: 1.1rem;
    }

    .descrição__imagem {
        width: 26%;
    }

    .botões__âncora {
        width: 16%;
    }
}

@media screen and (min-width: 1920px) {
    .descrição__imagem {
        width: 23%;
    }
}
