.mais-vendidos__titulo {
    color: var(--laranja);
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0 0.5rem 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5rem 0 0.7rem 0;
}

.card__mais-vendidos {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    padding: 0.7rem;
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1rem;
    flex-wrap: nowrap;
}

.card__titulo {
    grid-column: 1;
    grid-row: 2;
    font-weight: 700;
    color: var(--laranja);
}

.mais-vendidos__autor {
    grid-column: 1;
    grid-row: 3;
    font-size: 1rem;
    font-weight: 700;
    color: #002F52;
}

.mais-vendidos__texto {
    grid-column: 1;
    grid-row: 4;
    width: 85%;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.85);
}

.mais-vendidos__imagem {
    grid-column: 2;
    grid-row: 1 / span 4;
    width: 100%;
}

.botões {
    grid-column: 1;
    grid-row: 5;
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.card__botão {
    color:var(--branco);
    font-weight: 700;
    text-decoration: none;
    background-color: var(--laranja);
    padding: 1rem;
    text-align: center;
    margin: 1rem 0 0.5rem;
}

.botões__item img {
    width: 80%;
}

@media screen and (min-width: 768px) {
    .card__mais-vendidos {
        width: 40%;
        margin: 1rem auto;
    }
}

@media screen and (min-width: 1024px) {
    .mais-vendidos__titulo {
        font-size: 1.6rem;
        padding: 1.5rem 0 0.5rem;
    }

    .card__mais-vendidos {
        width: 50%;
        margin: 2rem auto;
        row-gap: 0.2rem;
    }

    .mais-vendidos__texto {
        margin-right: 2rem;
    }

    @media screen and (min-width: 1728px) {
        .carrossel__desktop {
            display: flex;
        }
    
        .mais-vendidos__titulo {
            padding: 1.7rem 0 0.5rem;
        }

        .card__mais-vendidos {
            width: 35%;
            height: 20%;
            margin: 5em 12em 4.5em 0;
        }

        .card__titulo {
            font-size: 2rem;
        }

        .mais-vendidos__autor {
            font-size: 1.1rem;
        }

        .mais-vendidos__texto {
            width: 85%;
            font-size: 1.1rem;
            margin-right: 0;
        }
    }
}