.topicos {
    background: var(--azul-degrade);
    padding: 1rem 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 2rem 0.5rem;
}

.topicos__item-mobile {
    margin: 2rem 0.5rem;
}

.topicos__link {
    color: var(--branco);
    padding: 1rem;
    background-color: var(--laranja);
    text-decoration: none;
    font-weight: 700;
}

.topicos__item-tablet {
    display: none;
}

@media screen and (min-width: 768px) {
    .topicos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topicos__lista {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .topicos__item-mobile {
        display: none;
    }

    .topicos__item-tablet {
        display: block;
        margin: 2.5rem 0.7rem;
    }

    .topicos__lista {
        width: 70%;
        padding: 1rem;
        margin: 0 auto;
    }

    .topicos__titulo {
        font-size: 1.5rem;
        font-weight: 300;
        padding: 0.5rem;
        margin-bottom: 0;
    }

    .topicos__item {
        margin: 2.5rem 0.7rem;
    }

    .topicos__link {
        font-size: 1.5rem;
        padding: 1rem;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3rem;
    }
    
    .topicos__titulo {
        font-size: 2rem;
        font-weight: 300;
        margin: 1rem;
        padding: 0;
    }

    .topicos__lista {
        width: 48%;
    }

    .topicos__link {
        padding: 1.5rem;
    }
}

@media screen and (min-width: 1920px) {
    .topicos__lista {
        width: 35%;
    }
}